[project]
	description = Test a jenkins configuration project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/codymihai
[access "refs/for/refs/*"]
	read = group user/codymihai
	push = group user/codymihai
	label-Code-Review = -2..+2 group user/codymihai
	label-Verified = -1..+1 group user/codymihai
	rebase = group user/codymihai
	removeReviewer = group user/codymihai
	submit = group user/codymihai
[access "refs/heads/*"]
	read = group user/codymihai
	create = group user/codymihai
	push = +force group user/codymihai
	pushMerge = group user/codymihai
[access "refs/tags/*"]
	push = +force group user/codymihai
	pushTag = group user/codymihai
	pushSignedTag = group user/codymihai
